@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor = @ViewData["Autor"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong> More Information: </strong> <a href="https://www.linkedin.com/in/pablo-pierre-04422ab6/">www.linkedin.com</a>
</address>

